---
layout: feature
title: GitLab Geo
description: GitLab's Geo feature, designed for widely distributed development teams, allows for read-only mirrors of your GitLab instance.
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 GitLab Geo
        %h3#ci-subt The solution for widely distributed development teams
        %a.btn.btn-lg.btn-white{ href: "https://docs.gitlab.com/ee/gitlab-geo/" } Documentation
  .sub-wrapper
    .container

      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Overview
          %ul
            %li
              When development teams are spread across two or more teams geographical locations, but their
              GitLab instance is in a single location, fetching and cloning large repositories can take a long time.
            %li
              Built for distributed teams, GitLab Geo allows for read-only mirrors of your GitLab instance. Reduce
              the time it takes to clone and fetch large repos and improve your collaboration process.

      %hr.divider/

      .row
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          %img.geo-diagram{alt: "", src: "/images/gitlab_ee/gitlab_geo_diagram.png"}/
        .col-xs-12.col-md-6
          %h2 How it works
          %ul
            %li
              GitLab Geo is included in GitLab Enterprise Edition Premium.
            %li
              GitLab Geo allows for read-only mirrors of your GitLab instance.
            %li
              Project repositories and the database including user accounts,
              issues, merge requests, groups, project data, etc., are replicated on your secondary instance.
            %li
              With read-only mirrors, your team can fetch projects and read data much faster while still
              pushing all changes to the primary server.
            %li
              All replication operations are asynchronous and are queued to be dispatched as soon as they
              happen.
            %li.documentation-link
              %a{href: "https://docs.gitlab.com/ee/gitlab-geo/README.html", target: "_blank"} Explore Documentation
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Features
          %ul
            %li
              %b Read-only secondaries:
              Maintain one primary GitLab instance while still enabling a read-only secondary
              instance for each of your distributed teams.
            %li
              %b Authentication system hooks:
              The secondary instance receives all authentication data, like user accounts
              and logins, from the primary instance.
            %li
              %b Intuitive UI:
              Secondaries utilize the same web interface your team has grown accustomed to. However, there
              are visual notifications that block write operations and make it clear that a user is on a
              secondary instance.
        .hidden-xs.hidden-sm.col-md-4
          %img.gitlab-raccoon-dog-image.hidden-xs{alt: "", src: "/images/logo.png"}/
      %hr.divider/

      .row
        .col-md-5.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("geo-icon")
        .col-xs-12.col-md-5
          %h2 Benefits
          %ul
            %li
              %b Time:
              Reduce the time it takes your distributed developers to clone and fetch large repos and
              projects from minutes to seconds.
            %li
              %b Collaboration:
              Enable all of your developers to contribute ideas and work in parallel from each of their
              respective geographies.
            %li
              %b Scale:
              Balance the load between your primary and secondary instance or offload your automated tests to the Geo secondary node.
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %p{ :style => "font-size:24px; font-weight: 300; padding: 50px 0px 20px 0px; line-height: 36px; color: #548; margin-top: 0px;" } &ldquo;We’ve seen a 20x speed increase since adopting GitLab Geo. Our primary code repository server is in Los Angeles. It was taking our Boston team 10 minutes to clone a single, large repo. Now with GitLab Geo, it takes under 30 seconds. The addition of GitLab Geo means our developers can be more productive.&rdquo;

          %div{:style => "font-size: 20px; margin-top: 20px; color: #548;"} Corey Ramirez-Gomez
          %div{:style => "font-size: 16px; color: #777; text-transform: uppercase;"} System Admin, Oblong

        .hidden-xs.hidden-sm.col-md-4
          %img{alt: "Oblong Logo", src: "/images/case_study_logos/oblong-logo.png", style: "margin-left:23%; margin-top:50px"}/
      %hr.divider/


      .row.gitlab-geo-video-row
        .container
          %h2.text-center GitLab Geo saves you time. Watch the video below to learn how.
          %figure.video_container
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/-HDLxSjEh6w", :width => "560"}
