.reseller-wrapper {
  margin: 100px auto;
  margin-top: 0;
  width: 100%;
  padding: 0 200px;
}

.reseller-hero {
  position: relative;
  padding: 20px 0;
  background-color: $reseller-hero-bg-color;
  background-image: url("/images/resellers/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: $screen-sm-min) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba($reseller-hero-bg-color, .9), $reseller-hero-bg-color);
  }

  .container {
    position: relative;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 5px;
    color: $color-white;
    font-size: 28px;
    font-weight: 300;

    @media (min-width: $screen-sm-min) {
      font-size: 38px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 48px;
    }
  }

  p {
    margin-bottom: 10px;
    color: $reseller-hero-content-color;
    font-size: 16px;

    @media (min-width: $screen-sm-min) {
      font-size: 18px;
    }

    @media (min-width: $screen-md-min) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
    }
  }
}

.resellers-list {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
  font-size: 14px;

  .column {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .size-1of3 {
    width: (100% / 3);
  }

  .size-1of2 {
    width: (100% / 2);
  }

  .size-1of1 {
    width: 100%;
  }

  a {
    color: $blog-color-text;
  }

  a:hover {
    text-decoration: none;
  }

}

.resellers-list[data-columns]::before {
  @media (max-width: ($screen-sm-min - 1px)) {
    content: "1 .column.size-1of1";
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    content: "2 .column.size-1of2";
  }

  @media (min-width: $screen-lg-min) {
    content: "3 .column.size-1of3";
  }
}

.reseller-hero-content {
  padding: 20px;
}

.reseller-group {
  @media screen and (max-width: $screen-sm-min) {
    flex-wrap: wrap;
  }
}

.reseller-item {
  width: 100%;
  padding: 30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background: $color-white;
  box-shadow: 0 2px 4px $color-transparent-alt;
  border-radius: $border-radius-large;
  text-decoration: none;
  font-size: 16px;

  .btn {
    margin: auto;
    margin-bottom: 0;
    background: $color-white;
    color: $color-primary-alt;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    width: 100%;
  }

  .reseller-content-container,
  .btn,
  img {
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }

  .reseller-content-container {
    margin: 30px 0;

    .reseller-location {

      p {
        color: $color-gray;
      }

    }

    .reseller-content {
      margin-top: 10px;
    }

    .website-text {
      word-break: break-all;
    }

    i {
      font-size: 1.4em;
      width: 18px;
      text-align: center;
      margin-right: 10px;
      color: $color-gray-medium;
    }

  }

  .reseller-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  p,
  i {
    color: $color-black;
    text-decoration: none;
  }

  img {
    max-width: 90%;
    max-height: 60px;
    width: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 20px;
  }

}

.reseller-item:hover {
  text-decoration: none;

  img {
    transform: scale(1.05);
  }

  .reseller-content-container {
    transform: translateY(4px);
  }

  p {
    text-decoration: none;
  }

}

.reseller-item:not(:first-child) {
  margin-left: 50px;

  @media screen and (max-width: $screen-md-min) {
    margin-left: 20px;
  }

  @media screen and (max-width: $screen-sm-min) {
    margin-left: 0;
  }

}

.reseller-image-gitlab {
  margin-top: -20px;
}

.reseller-content {
  margin-bottom: 0;
  padding-bottom: 20px;

  &.last {
    padding-bottom: 0;
  }

  > p {
    margin-bottom: 0;
    font-size: (16px / 14px) * 1em;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $color-primary;
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.reseller-contact-title {
  padding-bottom: 30px;

  > small {
    font-size: (16px / 14px) * 1em;
  }

  > h2 {
    margin: 0;
    font-size: (26px / 14px) * 1em;
    font-weight: 600;
  }
}

.reseller-contact {
  margin-bottom: 0;

  > li {
    position: relative;

    &:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 14px;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -5px;
        width: 10px;
        height: 1px;
        background-color: $reseller-divider-color;
      }
    }
  }
}

.reseller-email-link {
  color: inherit;
  font-size: (16px / 14px) * 1em;
  border-bottom: 1px solid;

  &:hover {
    color: $color-primary;
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

.reseller-contact-details {
  padding-bottom: 3px;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  a {
    color: inherit;
    border-bottom: 1px solid;

    &:hover {
      color: $color-primary;
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.reseller-social {
  > a {
    margin-left: 10px;
    margin-right: 10px;
    color: inherit;
    font-size: (20px / 14px) * 1em;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.reseller-you-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $color-primary;
  font-size: (26px / 14px) * 1em;
}

.reseller-category-section {
  position: sticky;
  top: 50px;
  box-shadow: 0 2px 4px $color-transparent-alt;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;
  z-index: 100;

  h4 {
    font-size: 14px;
    margin-right: 20px;
    white-space: nowrap;
  }
}

.reseller-group-filtered {
  flex-wrap: wrap;
  width: 100%;
}

.reseller-regions {
  display: flex;
  align-content: center;
  width: 100%;
  padding: 0 140px;
  max-width: 1440px;

  .reseller-region {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 100%;

    svg {
      fill: $color-gray-medium;
      height: 30px;
      width: 30px;
      position: relative;
      margin-right: 10px;
    }

    .region-name {
      margin-top: 10px;
      font-size: 16px;
      color: $legend-color;

      @media screen and (max-width: $screen-md-min) {
        font-size: 14px;
      }

    }

    &:hover {

      svg {
        fill: $color-primary-alt;
      }

      .region-name {
        color: $color-primary-alt;
      }

    }

    &.active {

      svg {
        fill: $color-primary-alt;
      }

      .region-name {
        color: $color-primary-alt;
      }

    }

    @media screen and (max-width: $screen-md-min) {
      padding: 10px;
    }

    @media screen and (max-width: $screen-xs-min) {
      width: 50%;
    }

  }

  @media screen and (max-width: $screen-lg-min) {
    padding: 0 60px;
  }

  @media screen and (max-width: $screen-md-min) {
    padding: 0;
  }

  @media screen and (max-width: $screen-xs-min) {
    flex-wrap: wrap;
  }

}
